@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Karla:wght@300;400&family=Roboto&display=swap');

* {
    margin     : 0;
    padding    : 0;
    font-family: "Roboto";
    font-weight: 400;
    box-sizing : border-box;
}

.discount p {
    background-color: #1cd1b0;
    font-size       : 15px;
    padding         : 3px 20px;
    font-family     : Roboto;
    font-style      : normal;
    font-weight     : normal;
    font-size       : 15px;
    line-height     : 18px;
}

header {
    width           : 100%;
    background-color: #00669f;
    color           : #fff;
    position        : sticky;
    top             : 0;
    z-index         : 1;
    display         : flex;
}

h1 {

    font-family: Roboto;
    font-style : normal;
    font-weight: normal;
    font-size  : 30px;
    line-height: 35px;
    padding-top: 0.5em;


}

.enlaces {

    width     : 100;
    height    : 40px;
    left      : -1px;
    top       : 104px;
    background: #001D2D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.enlaces ul li {
    width      : 59px;
    height     : 19px;
    left       : 1360px;
    top        : 115px;
    font-family: Roboto;
    font-style : normal;
    font-weight: normal;
    font-size  : 16px;
    line-height: 19px;
    display    : inline;
    float      : right;
    color      : #FFFFFF;
    margin-top : 8px;
    margin     : 10px 15px 10px 15px;

}

.enlaces a {
    text-decoration: none;
    color          : #ffffff;
}



.login {
    width      : 444.68px;
    margin     : auto;
    align-items: center;

    margin-top: 50px;
}

h2 {
    font-family  : 'Inter', sans-serif;
    font-weight  : 700;
    color        : #333333;
    margin-bottom: 10%;
    font-size    : 72px;
}



input,
select {
    text-align   : left;
    padding      : 10px;
    border       : solid 1.5px black;
    font-family  : 'Karla', sans-serif;
    display      : block;
    width        : 100%;
    margin-bottom: 20px;
}



.entrar {
    width            : 100%;
    /*  height       : 40px;*/
    background       : #1CD1B0;
    border-radius    : 23.011px;
    /*  margin       : 10px 0 20px 30%;*/
    font-family      : Inter;
    font-style       : normal;
    font-weight      : bold;
    font-size        : 20px;
    text-align       : center;
    color            : #000000;
    border           : none;

    cursor: pointer;
}



.tenerCuenta {
    font-family: Karla;
    font-style : normal;
    font-weight: normal;
    font-size  : 21.4769px;
    line-height: 28px;
    text-align : center;
}

.tenerCuenta,
.pregunta {

    color: #00669F;
}

.tenerCuenta,
.login {
    color: black;

}




footer {
    height      : 70px;
    width       : 100%;
    /*left      : -136px;
    top         : 3949px;*/

    background: #00669f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    font-family: Roboto;
    font-style : normal;
    font-weight: normal;
    font-size  : 22px;
    line-height: 100%;
    text-align : center;

    color: #fff9f9;

    margin-top: 20px;
}

footer p {
    color         : white;
    text-align    : center;
    padding-top   : 20px;
    padding-bottom: 20px;
    font-size     : 22px;

}